[color]
        ui = true
        branch = auto
        diff = auto
        log = auto
        interactive = auto
        status = auto
        pager = true
[user]
	name = Guy Nesher
	email = nesher.guy@gmail.com
